* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  font-size: 14px;
}

/* menu-home-page */
.container {
  max-width: 1200px;
  padding: 0 16px;
}
.menu-home-page {
  background-color: #1ed5b9;
}
.menu-home-page ul {
  display: flex;
}
.menu-home-page ul li a {
  background-color: #1ed5b9;
  color: #fff;
  padding: 12px 20px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

.menu-home-page li a:hover {
  background-color: #fff;
  color: #1ed5b9;
}

/* page-cv */
.page-cv {
  background-color: #a47673;
}
strong {
  font-weight: bold;
}
i {
  font-style: italic;
}
.container {
  margin: 0 auto;
}
.page-cv .container {
  max-width: 795px;
}
.page-cv .inner {
  margin-top: 34px;
  background-color: #fff;
  padding: 40px 70px 5px 70px;
}
.header {
  text-align: center;
  margin-bottom: 32px;
}
h1 {
  font-size: 30px;
  margin-bottom: 4px;
  font-weight: bold;
}
.text-separation {
  margin: 0 3px;
}

.heading-h2 {
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 2px solid;
  margin-bottom: 15px;
}

.item-experience {
  margin-bottom: 18px;
}

.item-experience:first-child .heading-h3 {
  margin-top: 0;
}

.heading-h3 {
  font-weight: bold;
  display: flex;
  margin-bottom: 18px;
}
.job-title {
  margin-right: auto;
}
.page-cv ul {
  list-style: disc;
  padding-left: 1rem;
}

.page-cv ul li {
  line-height: 20px;
  margin-bottom: 4px;
}

/*  menu-page */
.menu-page {
  background-color: #cedeff;
}

.menu-page .header {
  background-color: #3e5cca;
}

.menu-page .header ul {
  display: flex;
}

.menu-page .header ul li a {
  color: #fff;
  padding: 25px 20px;
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
}

.menu-page .header ul li a:hover,
.menu-page .header ul li.active a {
  background-color: #fff;
  color: #000;
}

/* form.html */
.page-form {
  background-color: #7ed8d6;
}

.page-form .container {
  max-width: 700px;
}

.page-form .inner {
  background-color: #32425b;
  margin: 40px 0;
  padding: 25px 35px;
  color: #fff;
}

.page-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group-flex {
  display: flex;
  gap: 15px;
}
.form-group {
  margin-bottom: 16px;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group input {
  border-radius: 6px;
}

.form-group .input-enter {
  height: 35px;
  background-color: transparent;
  outline: none;
  padding: 8px;
  width: 100%;
  border: 1px solid #938f8f;
  color: #fff;
}

.form-label {
  font-weight: bold;
}

.form-group-gender .list-gender {
  display: flex;
  gap: 5px;
}

.form-label-avatar {
  cursor: pointer;
}

.images-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.form-group .form-submit {
  background-color: #1ed5b9;
  color: #fff;
  width: 100%;
  padding: 10px;
  border: 0;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
